.horizontal-scroll
  .horizontal-scroll__block.horizontal-scroll__block--purple
    .background style="background-image: url(https://source.unsplash.com/category/nature/1024x758)"
    span.letter A
  
  .horizontal-scroll__block.horizontal-scroll__block--yellow 
    .background style="background-image: url(https://source.unsplash.com/category/technology/1024x758)"
    span.letter E
    
  .horizontal-scroll__block.horizontal-scroll__block--orange 
    .background style="background-image: url(https://source.unsplash.com/category/buildings/1024x758)"
    span.letter I
  
  .horizontal-scroll__block.horizontal-scroll__block--blue 
    .background style="background-image: url(https://source.unsplash.com/category/food/1024x758)"
    span.letter O
  
  .horizontal-scroll__block.horizontal-scroll__block--green 
    .background style="background-image: url(https://source.unsplash.com/category/people/1024x758)"
    span.letter U
  
  .horizontal-scroll__block.horizontal-scroll__block--pink 
    .background style="background-image: url(https://source.unsplash.com/category/objects/1024x758)"
    span.letter !
  