
@media screen and (min-width: 450px){




#mobile{
	display: none;
}


#outro{
	display: none;
}
#desktop{
    width: 100%;
    margin: 0px auto;
    position:relative;
}


		.intro1{
			color: white;
			text-align: center;
			font-size: 5vw;

		}



		h1{
			display: block;
			margin: 2px auto;
			width: 90%;
	font-size: 20vw;
		}
		.intro2{


		}
	h2{
			font-size: 6vh;;
	}


#kali{
    margin-top: 6%;
    margin-left: 5%;
    position:absolute;
    top:0;
    left:0;
    width:7rem;
    height:7rem;
		 background:white;
		 opacity: 0.8;
		padding: 10px 20px 10px 22px;
		border-radius: 5%;
}

#nav2{
    margin-top: 5%;
    margin-left: 26%;
    position:absolute;
    top:-2rem;
    left:0;
    width:800px;
    height:20px;
    font-size: 17px;
	text-align: center;
}
#nav2 a:link, a:visited {

    color:white;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	 opacity: 0.8;
	  background:darkred;
	border-radius: 5%;
}

.nav a{
	/* color:white; */
}
#nav2 a:hover, a:active {
    background-color:white;
		color: darkred;
}

nav#nav2 a{
	height: 32px;
}





	  #logom{
	  margin-left: auto;
	  margin-right: auto;
	      height: 18vh;
	      width: 16vw;
	      position: absolute;
	      top:26%;
	      left:36%;

	  }
	  #pb{
	    position:absolute;
	    top:100%;
	    left:36%;
	      color:darkred;
	  }
	  a{
	    color:darkred;
	  }

	video loop autoplay muted playsinline{
		height: 100%;
		width: 100%;

	}


}
