
@media screen and (min-width: 450px){




#mobile{
	display: none;
}


#outro{
	display: none;
}
#desktop{
    width: 100%;
    margin: 0px auto;
    position:relative;
}

h4{
	position: absolute;
	top:45%;
left: 70%;
	font-size: 2rem;
 margin:50px;
 color: red;
 width: 10rem;
}


#kali{
    margin-top: 6%;
    margin-left: 5%;
    position:absolute;
    top:0;
    left:0;
    width:7rem;
    height:7rem;
		 background:white;
		 opacity: 0.8;
		padding: 10px 20px 10px 22px;
		border-radius: 5%;
}


h4.link.anim-fancysub:after {
	content: '';
	position: absolute;
	top: -0.6em;
	display: block;
	width: 100%;
	height: 2em;
	border-top: 0.1em solid transparent;
	border-bottom: 0.1em solid transparent;
	background: transparent;
	transition: all .5s ease;
  }
  
  h4.link.anim-fancysub:hover:after {
	border-top: 0.1em solid white;
	border-bottom: 0.1em solid white;
	top: -0.1em;
	height: 1.2em;
  }
  

.nav2{
       
	position:absolute;
	top:2rem;
	left:0;
	width:100vw;
	height:20px;
	font-size: 1.5rem;
	text-align: center;
}
.nav2 a:link, a:visited {
	color: white;
	padding: 5px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

nav.nav2 a{
	height: 32px;
}



#nav{
	width: 20rem;
  }

#nav.link.anim-fancysub:after {
	content: '';
	position: absolute;
	top: -0.6em;
	display: block;
	width: 100%;
	height: 2em;
	border-top: 0.1em solid transparent;
	border-bottom: 0.1em solid transparent;
	background: transparent;
	transition: all .5s ease;
  }
  
  #nav2.link.anim-fancysub:hover:after {
	border-top: 0.1em solid white;
	border-bottom: 0.1em solid white;
	top: -0.1em;
	height: 1.2em;
  }
  




	  #logom{
	  margin-left: auto;
	  margin-right: auto;
	      height: 18vh;
	      width: 16vw;
	      position: absolute;
	      top:26%;
	      left:36%;

	  }
	  #pb{
	    position:absolute;
	    top:100%;
	    left:36%;
	      color:darkred;
	  }
	  a{
	    color:darkred;
	  }

	video loop autoplay muted playsinline{
		height: 100%;
		width: 100%;

	}


}
