  /* nav */

#FCC-portfolio-nav {
  box-shadow: 0 4px 6px .3px #0b0b0b;
}

.navbar-nav li {
  margin-bottom: 2px;
  border-right: .1px solid #080808;
}

.navbar-nav li:last-of-type {
  border-right: none;
}

.navbar-nav li a {
  text-align: center;
  font-size: 15px;
  border-bottom: 1.5px solid transparent;
}

.navbar-nav li a:hover {
  border-bottom: 1.5px solid;
}

.navbar-brand span {
  font-style: italic;
}

#FCC-porfolio-toggle-menu .navbar-nav li a:hover {
  cursor: pointer;
}


  /* layout */

body {
  background-color: #0b0b0b;
}

#FCC-portfolio-content {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.row {
  text-align: center;
}

.row:first-of-type {
  margin-top: 54px;
  margin-bottom: 0px;
}


  /* content fade-ins */

#FCC-portfolio-intro p,
#FCC-portfolio-intro ul,
#FCC-portfolio-intro i {
  opacity: 0;
}


  /* splash */

#FCC-portfolio-nav,
#FCC-portfolio-home,
#FCC-portfolio-about,
#FCC-portfolio-intro,
#FCC-portfolio,
#FCC-portfolio-contact,
#FCC-portfolio-copyright {
  opacity: 0;
}

#FCC-portfolio-splash {
  position: fixed;
}

#FCC-portfolio-splash-h1 {
    margin-top: 188px;
    text-align: center;
    color: #f2f2f2;
    opacity: .65;
}


  /* header */

#FCC-portfolio-home {
  
}

#FCC-portfolio-header {
  width: 100%;
  height: 180px;
  margin-bottom: 0;
  padding: 80px 0;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d6/HD_Colour_%28Green%29_Office_Desk_Range.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}

#FCC-portfolio-header h1 {
  margin-top: 48px;
  padding: 6px 0 6px 0;
  color: #020202;
  background-color: #f2f2f2;
  opacity: .65;
}

#FCC-portfolio-about h2 {
  color: #f9f9f9;
  margin-top: 9px;
  padding: 10px 0 10px 0;
}

  /* keypoints */

#FCC-portfolio-about { /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(10,13,15,0.85) 0%,rgba(40,44,45,0.95) 50%,rgba(10,13,15,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d90a0d0f', endColorstr='#d90a0d0f',GradientType=0 ); /* IE6-9 */
}

.FCC-portfolio-keypoint {
  padding: 60px;
  text-align: center;
  color: #D8D8D8;
}

.FCC-portfolio-keypoint h4 span {
  font-weight: bolder;
  font-style: italic;
  color: #eeeeee;
}

.FCC-portfolio-keypoint-description {
  position: absolute;
  display: none;
  padding: 8px 4px 2px 4px;
  color: #191919;
  background-color: #f2f2f2;
  border-radius: 6px;
  box-shadow: 0 0 8px .1px #eee;
  opacity: .8;
  background: rgb(228,239,192); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.FCC-portfolio-keypoint .glyphicon {
  font-size: 6em;
  border-radius: 100%;
  box-shadow: 0 0 8px 0 #F2F2F2;
  color: #93D82B;
}

.FCC-portfolio-keypoint .glyphicon:hover {
  cursor: pointer;
}

  /* intro */

#FCC-portfolio-intro {
  margin-bottom: 0;
  font-size: 16px;
  color: #898989;
  background-color: #0b0b0b; /* remove to get a white about page */
}

#FCC-portfolio-intro h3 {
  font-size: 1.8em;
  color: #666;
}

#FCC-portfolio-intro h3:first-of-type {
  margin-bottom: 0;
  padding: 10px 0;
}

#FCC-portfolio-intro h3:last-of-type {
  margin-top: 0;
  margin-bottom: -20px;
  padding: 0 0 8px 0;
  color: gray;
}

#FCC-portfolio-intro h3 span {
  font-weight: bold;
}

#FCC-portfolio-intro-img {
  max-height: 400px;
}

.FCC-portfolio-personal-image {
  margin: 15px auto 35px auto;
  box-shadow: 0 0 12px .1px #020202;
}

.FCC-portfolio-intro-icons i {
  display: inline-block;
  margin-top: 45px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 gray;
  color: #93D82B;
}

#FCC-portfolio-intro ul {
  list-style-type: none;
  padding: 16px;
  max-width: 100%;
}

#FCC-portfolio-intro ul li {
  margin-top: 28px;
}

#FCC-portfolio-intro ul li:first-of-type {
  margin-top: 10px;
}

#FCC-portfolio-intro ul li span {
  font-size: 1.2em;
  font-weight: bold;
  color: #ccffcc; /* change if using a clear background */
}

#FCC-portfolio-intro ul li span strong {
  display: block;
}

#FCC-portfolio-intro p {
  display: inline-block;
  margin: 9px 0;
  text-align: center;
}

#FCC-portfolio-intro p span {
  line-height: 2em;
  padding: 7px;
  border: 1px solid;
  background-color: #3f4b51;
  color: #bae8b4; -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  webkit-border-radius: 3px;
  border-radius: 3px;
}


  /* portfolio */

#FCC-portfolio {
  background-color: #151515;
}

#FCC-portfolio-title {
  margin: 54px 0;
  padding-bottom: 16px;
  color: gray;
  border-bottom: .1px solid #f2f2f2;;
}

.FCC-portfolio-single {
  background: rgb(149,149,149); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

.FCC-portfolio-single-image-box-container {
  padding: 24px 0;
  background: rgb(61,61,61); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(61,61,61,1) 0%,rgba(43,43,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}

.FCC-portfolio-single-title {
  display: inline-block;
  padding: 8px 16px;
  color: #f5f5f5;
background: rgb(79,79,79); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(79,79,79,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  border: .1px solid;
  border-radius: 6px;
  box-shadow: 0 0 8px 0;
}

.FCC-portfolio-single-image-box {
  width: 380px;
  height: 300px;
  margin: 0 auto;
  vertical-align: middle;
  border: .1px solid #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 0 12px .1px gray;
}

.FCC-portfolio-single-description-container {
  display: none;
  padding: 60px 12px 12px 12px;
}

.FCC-portfolio-single-link:hover {
  text-decoration: none;
}

.FCC-portfolio-single-description {
  color: gray;
}

.FCC-portfolio-single-description:hover {
  color: #ccffcc;
}

.FCC-portfolio-single-description-alt {
  display: none;
  margin-bottom: 32px;
  padding: 12px 64px;
  border: .1px solid;
}


  /* contacts */

#FCC-portfolio-contact .col-xs-12 {
  margin-top: 64px;
  margin-bottom: 32px;
}

#FCC-portfolio-contact .col-xs-12 .btn-success {
  padding: 20px 40px;
  color: #030303;
  background: rgb(201,222,150); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
  text-shadow: 0 0 .2px;
  box-shadow: 0 0 6px .3px inset;
}

#FCC-portfolio-contact .col-xs-12 .btn-success:hover {
  color: #f2f2f2;
  background: #333;
  box-shadow: 0 0 6px .3px #020202 inset;

}

.modal-content {
  color: #f3f3f3;
  background: rgb(116,120,127); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(116,120,127,1) 0%,rgba(87,93,99,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74787f', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

.modal-body a {
  margin: 16px auto;
  padding: 8px;
  color: #ccffcc;
  background-color: #333;
  border: .1px solid gray;
  border-radius: 4px;
  box-shadow: 0 0 3px .1px #020202;
  white-space: pre;
}

.modal-body a:hover {
  text-decoration: none;
  background-color: #121212;
}

.modal-body button {
  margin: 8px 5px;
  color: #333;
}

#FCC-portfolio-contact-img {
  max-height: 400px;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 0 10px .1px inset;
}


  /*  copyright */

#FCC-portfolio-copyright .col-xs-12 {
  padding-top: 12px;
  border-top: .3px solid;
}

#FCC-portfolio-copyright a {
  color: #ccffcc;
}

#FCC-portfolio-copyright a:hover {
  text-decoration: none;
  color: #f2f2f2;
}


  /* media queries */
@media screen and (max-width: 1024px),
handheld {

  #FCC-portfolio-about { /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(10,13,15,0) 0%,rgba(10,13,15,0.5) 2%,rgba(10,13,15,0.95) 4%,rgba(10,13,15,0.95) 36%,rgba(40,44,45,0.95) 38%,rgba(10,13,15,0.95) 40%,rgba(10,13,15,0.95) 66%,rgba(40,44,45,0.95) 68%,rgba(10,13,15,0.95) 70%,rgba(10,13,15,0.95) 95%,rgba(10,13,15,0.5) 98%,rgba(10,13,15,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a0d0f', endColorstr='#000a0d0f',GradientType=0 ); /* IE6-9 */
  }

  .FCC-portfolio-keypoint {
    border-bottom: none;
  }

  .FCC-portfolio-single-description {
    color: #ccffcc;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  #FCC-portfolio-about { /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(10,13,15,0.85) 0%,rgba(40,44,45,0.95) 50%,rgba(10,13,15,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d90a0d0f', endColorstr='#d90a0d0f',GradientType=0 ); /* IE6-9 */
  }

}

@media screen and (max-width: 640px),
handheld {

  .FCC-portfolio-single-image-box {
    width: 280px;
    height: 200px;
    margin: 0 auto;
    vertical-align: middle;
    border: .1px solid #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 12px .1px gray;
  }

  .modal-body a {
    display: block;
  }

}