@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
body {
		font-size: 13px;
		font-family: Roboto;
		background: #f4f4f8;
}

h1 {
		font-size: 5em;
		font-weight: 300;
		color: #333;
}

h2 {
		font-size: 2.5em;
}

div.row-fluid {
		text-align: center;
		margin-top: 4em;
}

div.row-fluid a {
	margin-left: 0.3em;
	margin-bottom: 0.6em;
}

.link {
		font-size: 2em;
		font-weight: 300;
		cursor: pointer;
		display: inline-block;
		position: relative;
		margin-bottom: 0.5em;
}

.link.anim-destination {
	display: inline-block;
	overflow: hidden;
	padding-right: 0.5em;
	font-size: 2em;
}

.link.anim-destination span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.link.anim-destination span::before {
	position: absolute;
	white-space: nowrap;	
	top: 100%;
	content: attr(data-hover);
	font-weight: 500;
}

.link.anim-destination:hover span,
.link.anim-destination:focus span {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.link.anim-test {
		font-weight: 400;
		color: #ddd;
}

.link.anim-test:after {
		position: absolute;
		content: attr(data-hover);	
		color: black;
		top: 0em;
		display: block;
		-webkit-transition: all .5s ease;
		transition: all .5s ease;
}

.link.anim-test:hover:after {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
}


.link.anim-iamhere {
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
}

.link.anim-iamhere:hover {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: blue;
}

.link.anim-classic {
		border-bottom: 3px solid transparent;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
}

.link.anim-classic:hover {
		border-bottom: 3px solid blue;
}

.link.anim-classicsub {
		border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;
		-webkit-transition: all .2s ease-in;
		transition: all .2s ease-in;
}

.link.anim-classicsub:hover {
		border-top: 3px solid blue;
		border-bottom: 3px solid blue;
}

.link.anim-fancysub:after {
		content: '';
		position: absolute;
		top: -0.6em;
		display: block;
		width: 100%;
		height: 2em;
		border-top: 0.1em solid transparent;
		border-bottom: 0.1em solid transparent;
		background: transparent;
		transition: all .5s ease;
}

.link.anim-fancysub:hover:after {
		border-top: 0.1em solid blue;
		border-bottom: 0.1em solid blue;
		top: -0.1em;
		height: 1.2em;
}

.link.anim-fancywrench:after {
		content: '';
		position: absolute;
		top: 0em;
		left: -33%;
		display: block;
		width: 150%;
		height: 1em;
		border-right: 0.1em solid transparent;
		border-left: 0.1em solid transparent;
		background: transparent;
		transition: all .5s ease;
}

.link.anim-fancywrench:hover:after {
		border-right: 0.1em solid blue;
		border-left: 0.1em solid blue;
		left: -4%;
		width: 104%;
}

.link.anim-lefttoright:after {
		content: '';
		display: block;
		width: 0;
		height: 3px;
		background: blue;
		transition: all .5s ease;
}

.link.anim-lefttoright:hover:after {
		width: 100%;
}

.link.anim-righttoleft:after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		width: 0;
		height: 3px;
		background: blue;
		transition: all .5s ease;
}

.link.anim-righttoleft:hover:after {
		width: 100%;
}

.link.anim-middleout:after {
		content: '';
		display: block;
		width: 0;
		height: 3px;
		background: blue;
		margin: auto;
		transition: all .5s ease;
}

.link.anim-middleout:hover:after {
		width: 100%;
}